<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.luminar.lmnr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>LMNR</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>2946</string>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Users/dryguy/git-work/Hangman-Game/assets/images/american-sniper.jpg</key>
			<string>8DE7B4F8-2DC4-4590-A887-9255CCB13E74.jpg</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>1</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>Transform Tool: Apply</string>
				<key>uuid</key>
				<string>0F3E9749-0A79-4051-A17D-378A4992DD7D</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>uuid</key>
				<string>EDF4B80E-B5CA-4794-A4C7-60921BE5A206</string>
			</dict>
		</array>
	</dict>
	<key>MPOriginalImagePath</key>
	<string>/Users/dryguy/git-work/Hangman-Game/assets/images/american-sniper.jpg</string>
	<key>MPSaveHistoryToDocument</key>
	<true/>
</dict>
</plist>
