body {
	width: 960px;
	margin: 0px auto;
	font-size: 22px;
	color: #ccf2ff;
	padding-bottom: 70px;
	background-color: black;
	font-family: 'Hammersmith One', sans-serif;
	letter-spacing: 2px;
}
.mybackground {
	margin-top: 5px;
	background-image: url(../images/my-screen.png);
	background-repeat: no-repeat;
}
.myimage {
	max-width: 300px;
	height: 150px;
}
.myimage1 {
	max-width: 200px;

}
#movie {
	font-size: 18px;
}
.myletters {
	font-weight: 500;
}
.footer {
	position: relative;
	box-sizing: border-box;
	margin-top: 50px;
	font-size: 14px;
	height: 50px;
}
#losscount {
	color: #F75D79;
}
#guesscount {
	color: #F75D79;
}
.panel-transparent {
	background: none;
}

#myletter {
	max-width: 2vw;
	background: #ba0000;
	color:white;
	border: none;
}
#myletter:focus {
	outline: none;
}
#error {
	display: none;
	background: yellow;
	color: black;
}
#theanswer {
	display:none;
}
#me, #me:hover, #me:focus, #me:visited {
	color:white;
}

@media screen and (max-width: 640px) {
	body {
		font-size: 18px;
	}
	#movie {
		font-size: 14px;
	}

}

@media screen and (min-width: 1367px) {
	#myletter{
		display:none;
	}
}